
@font-face {
    font-family: "Office Code Pro";
    font-weight: 700;
    font-style: italic;
    font-stretch: expanded;
    src: local("Office Code Pro")
       , url("../fonts/OfficeCodePro-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 300;
    font-style: normal;
    font-stretch: expanded;
    src: local("Office Code Pro")
       , url("../fonts/OfficeCodePro-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 300;
    font-style: italic;
    font-stretch: expanded;
    src: local("Office Code Pro")
       , url("../fonts/OfficeCodePro-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 500;
    font-style: normal;
    font-stretch: expanded;
    src: local("Office Code Pro")
       , url("../fonts/OfficeCodePro-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 500;
    font-style: italic;
    font-stretch: expanded;
    src: local("Office Code Pro")
       , url("../fonts/OfficeCodePro-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 400;
    font-style: normal;
    font-stretch: expanded;
    src: local("Office Code Pro")
       , url("../fonts/OfficeCodePro-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 400;
    font-style: italic;
    font-stretch: expanded;
    src: local("Office Code Pro")
       , url("../fonts/OfficeCodePro-normalItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 300;
    font-style: normal;
    
    src: local("Office Code Pro")
       , url("../fonts/iosevka-etoile-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 300;
    font-style: italic;
    
    src: local("Office Code Pro")
       , url("../fonts/iosevka-etoile-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 500;
    font-style: normal;
    
    src: local("Office Code Pro")
       , url("../fonts/iosevka-etoile-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 500;
    font-style: italic;
    
    src: local("Office Code Pro")
       , url("../fonts/iosevka-etoile-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 400;
    font-style: normal;
    
    src: local("Office Code Pro")
       , url("../fonts/iosevka-etoile-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 400;
    font-style: italic;
    
    src: local("Office Code Pro")
       , url("../fonts/iosevka-etoile-RegularItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 800;
    font-style: normal;
    
    src: local("Open Sans ExtraBold")
       , url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans ExtraBold";
    font-weight: 800;
    font-style: italic;
    
    src: local("Open Sans ExtraBold Italic")
       , url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    
    src: local("Open Sans Bold")
       , url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: italic;
    
    src: local("Open Sans Bold Italic")
       , url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    
    src: local("Open Sans SemiBold")
       , url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: italic;
    
    src: local("Open Sans SemiBold Italic")
       , url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    font-style: normal;
    
    src: local("Open Sans Medium")
       , url("../fonts/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    font-style: italic;
    
    src: local("Open Sans Medium Italic")
       , url("../fonts/OpenSans-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    
    src: local("Open Sans Regular"), 
        url("/static/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    
    src: local("Open Sans Italic")
       , url("../fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    
    src: local("Open Sans Light")
       , url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic;
    
    src: local("Open Sans Light Italic")
       , url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
}