<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ template "title" . }}</title>
  <link rel="stylesheet" href="/static/css/fonts.css" />
  <link rel="stylesheet" href="/static/css/tailwind.css" />
  {{ template "scripts" }}
</head>
<body>
{{ template "body" . }}
</body>
</html>