<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ template "title" . }} | The Canarium</title>
  <link rel="stylesheet" href="/static/css/fonts.css" />
  <link rel="stylesheet" href="/static/css/tailwind.css" />
  {{ template "scripts" }}
</head>
<body class="bg-blue-800 py-20">
  <div class="container mx-auto px-4 pt-4 pb-10 bg-slate-900 dark dark:text-white shadow-2xl rounded-lg">
    <div class="relative mb-10 flex gap-2">
      <span class="rounded-full bg-red-700 size-[14px]"></span>
      <span class="rounded-full bg-yellow-700 size-[14px]"></span>
      <span class="rounded-full bg-green-700 size-[14px]"></span>
    </div>
    <div class="content">
      {{ template "body" . }}
    </div>
  </div>
</body>
</html>